* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}

.container {
  width: 100%;
  min-height: 100vh;
  background: #0b0423;
  display: flex;
  align-items: center;
  justify-content: center;
}

#left, #right {
  width: 200px;
  min-height: 500px;
  margin: 20px;
  border: 2px dashed #fff
}

.item {
  background: #e91e63;
  height: 60px;
  margin: 30px;
  padding-left: 30px;
  padding-right: 30px;
  color: #fff;
  display: flex;
  align-items: center;
}

.drag {cursor: grab;}
.noDrag {cursor: not-allowed;}

.slot {
  background: #1e5ee9;
  height: 60px;
  margin: 30px;
  color: #fff;
  display: flex;
  align-items: center;
}

.item.dragging {
  opacity: 0.5;
}