
  <!--main-->
  <main class="container">

    <!--login form-->
    <div class="row justify-content-around text-center">
      <div class="col-4 card bg-secondary-subtle bg-transparent pt-3 mt-3 border border-light mb-3">
        <h3>Login</h3>
        <div class="card-body py-5 px-md-5">
          <!--input fields-->
          <form>
            <div class="form-outline mb-4">
              <input type="text" id="usernameField" placeholder="Enter username.." class="form-control text-center" />
            </div>
            <div class="form-outline mb-4">
              <input type="password" id="passwordField" placeholder="Enter password.." class="form-control text-center" />
            </div>
            <!-- login btn -->
            <button id="loginFormBtn" type="button" class="btn btn-primary mb-4">Login</button>
          </form>
        </div>
      </div>

      <!-- new user form -->
      <div class="col-4 card bg-secondary-subtle bg-transparent pt-3 mt-3 border border-light mb-3">
        <h3>Create an account</h3>
        <div class="card-body py-5 px-md-5">
          <!--input fields-->
          <form>
            <div class="form-outline mb-4">
              <input type="text" id="usernameSignUpField" placeholder="Enter new username.."
                class="form-control border-primary-subtle text-center" />
            </div>
            <div class="form-outline mb-4">
              <input type="password" id="passwordSignUpField" placeholder="Enter new password.."
                class="form-control border-warning-subtle text-center" />
            </div>
            <!-- signup  btn -->
            <button id="signupBtn" type="button" class="btn btn-outline-success text-white mb-4">Signup</button>
          </form>
        </div>
      </div>

      <!--about container -->
      <div
        class="bg-secondary-subtle shadow-lg mt-2 g-2 pt-2 px-5 justify-content-center border-light border text-center">
        <div
          class="h2 mx-auto mt-2 mb-2 p-2 text-danger border-2 text-warning-emphasis border-bottom border-light-subtle">
          About
        </div>
        <p class="pb-5 text-s"> New game coming soon! Get a head start by designing your optimum character loadout. Sign-up or Login to enter "The Armory" to create different loadouts and save them so you can reference them when the game finally comes out. Release date TBD </p>
      </div>

      <!--cards, left card-->
      <div class="col pt-2 mt-2">
        <div class="row">
          <div class="container" style="max-width:50%;">
            <div class="card mb-3 bg-secondary-subtle shadow-lg rounded-1 border-1 border ridge border-light">
              <div class="row g-0">
                <div class="col-md-4">
                  <img
                    src="https://gameranx.com/wp-content/uploads/2016/02/dark_souls___hawkeye_gough_by_zedotagger-d9bajen.gif"
                    class="img-fluid  m-2 p-1" alt="image of gary the giant">
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <h5 class="card-header">Gary The Giant</h5>
                    <p class="card-text">Preview of a future boss fight in this super duper awesome game. This will be one of the most epic boss battles you've ever played</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- right card-->
          <div class="container" style="max-width:50%;">
            <div class="card mb-3 bg-secondary-subtle shadow-lg rounded border-1 border ridge border-light">
              <div class="row g-0">
                <div class="col-md-4">
                  <img
                    src="https://steamuserimages-a.akamaihd.net/ugc/774932115120469644/85F5A925663A1C91B702CE993AFD5B14D5E0C385/?imw=5000&imh=5000&ima=fit&impolicy=Letterbox&imcolor=%23000000&letterbox=false"
                    class="img-fluid  m-2 p-1" alt="image of characters huddled around a campfire" style="max-height: 130px">
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <h5 class="card-header">PVP</h5>
                    <p class="card-text">This game will have world class PVP. It will be the first game ever to have a battle royale!</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
  </main>
 
  <script src="/js/login-signup.js"></script>