<body>
  <!--main-->
  <main class="container mt-2 pt-2 g-5 mb-2 pb-2">
    <!--about container -->
    <div
      class="container bg-secondary-subtle shadow-lg mt-2 g-2 pt-2 px-5 justify-content-center border-light border text-center">
      <div
        class="h2 mx-auto mt-2 mb-2 p-2 text-danger border-2 text-warning-emphasis border-bottom border-light-subtle">
        About
      </div>
      <p class="pb-5 text-s">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ultrices lobortis
        dapibus. Vivamus
        sed eleifend risus. Nulla id sapien nulla. Cras efficitur eleifend dui a ultricies. Sed quis convallis nibh.
        Vestibulum quis erattristique pharetra. Curabitur bibendum lectus eu ante laoreet pellentesque. Integer orci
        vehicula dignissim, placerat at libero. Sed ut elit sed justo accumsan </p>
    </div>

    <!--cards, left card-->
    <div class="col pt-2 mt-2">
      <div class="row">
        <div class="container" style="max-width:50%;">
          <div class="card mb-3 bg-secondary-subtle shadow-lg rounded-1 border-1 border ridge border-light">
            <div class="row g-0">
              <div class="col-md-4">
                <img src="../assets/images/userUI/ponder.gif" class="img-fluid  m-2 p-1" alt="...">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-header">Card title</h5>
                  <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ultrices lobortis
                    dapibus. Vivamus sed eleifend risus.ultric con</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- right card-->
        <div class="container" style="max-width:50%;">
          <div class="card mb-3 bg-secondary-subtle shadow-lg rounded border-1 border ridge border-light">
            <div class="row g-0">
              <div class="col-md-4">
                <img src="../assets/images/userUI/ponder.gif" class="img-fluid  m-2 p-1" alt="...">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-header">Card title</h5>
                  <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ultrices lobortis
                    dapibus. Vivamus sed eleifend risus.ultric con</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!--loadout-->
    <div class="container bg-secondary-subtle shadow-lg justify-content-center border-light border text-center">
      <div class="h3 mx-auto mt-2 mb-4 text-danger border-2 text-warning-emphasis border-bottom border-light-subtle">
        Customize Loadout
      </div>
      <div id="itemSelectionTab" class="nav nav-tabs d-flex flex justify-content-center">
        <a class="nav-item">
          <a id="selectHelmets" class="nav-link active" aria-current="page" >Helmets</a>
        <a class="nav-item">
          <a id="selectTorso" class="nav-link" aria-disabled="true" >Torso</a>
        </a>
        <a class="nav-item">
          <a id="selectBoots" class="nav-link" aria-disabled="true" >Boots</a>
        </a>
        <a class="nav-item">
          <a id="selectWeapons" class="nav-link" aria-disabled="true" >Weapons</a>
        </a>
        <a class="nav-item">
          <a id="selectShields" class="nav-link" aria-disabled="true" >Shields</a>
        </a>
        <a class="nav-item">
          <a id="selectGems" class="nav-link" aria-disabled="true" >Gems</a>
        </a>
      </div>
      <div class="row justify-content-center">          
        <div id="parentItemHolder" class="row justify-content-center">
          <!-- items get populated by javascript here (public/js/populateItemTable) -->
        </div>
      </div>

      <!-- character container -->
      <div class="container shadow-lg border bg-dark-subtle border-2 border-light-subtle mt-2 mb-2 pt-2 pb-2"
        style="min-width:450px; max-width:500px; min-height:700px">
        <div class="container-fluid justify-content-center">
          <h1 class="border-bottom">Character</h1>
          <img src="../assets/images/userUI/character.gif" class="char-gif mb-1">
          <div class="row">
            <div id="characterStatTotals" class="char-values" style="font-size:3rem">
              <span><i class="bi bi-heart-fill"> </i><span class="healthClass">17</span></span>
              <span><i class="bi bi-shield-shaded"></i> <span class="armorClass">13</span></span>
              <span><i class="bi bi-hammer"></i> <span class="attackClass">12</span></span>
              <span><i class="bi bi-bricks"></i> <span class="defenseClass">11</span></span>
              <span><i class="bi bi-lightning-fill"></i> <span class="speedClass">13</span></span>
            </div>
          </div>
        </div>

        <!--helmet-->
        <div id="helmetStats" class="row justify-content-center">
          <div class="col-3 col-sm-3 col-lg-3 justify-content-center">
            <div id="helmetStatsCard" class="card bg-dark-subtle shadow-lg border-light justify-content-center align-center" style="max-width:7rem; max-height: 7rem; min-width:7rem; min-height: 7rem;" ondrop="dropHandler(event)" ondragover="dragoverHandler(event)">
              <!-- Dynamically generated Helmet area -->
            </div>
          </div>
        </div>

        <!--shield-->
          <div id="shieldStats" class="row justify-content-center">
            <div class="col-3 col-sm-3 col-lg-3">
              <!-- Dynamically generated Shield area -->
              <div id="shieldStatsCard" class="card bg-dark-subtle shadow-lg border-light justify-content-center align-center" style="max-width:7rem; max-height: 7rem; min-width:7rem; min-height: 7rem;" ondrop="dropHandler(event)" ondragover="dragoverHandler(event)">
                <!-- Dynamically generated Shield area -->
              </div>
            </div>

            <!--torso-->
            <div id="torsoStats" class="col-3 col-sm-3 col-lg-3">
              <div class="card bg-dark-subtle shadow-lg border-light justify-content-center text-center" style="max-width:7rem; max-height: 7rem; min-width:7rem; min-height: 7rem;">
                <div id="torsoStatsCard" class="card bg-dark-subtle shadow-lg border-light justify-content-center align-center" style="max-width:7rem; max-height: 7rem; min-width:7rem; min-height: 7rem;" ondrop="dropHandler(event)" ondragover="dragoverHandler(event)">
                  <!-- Dynamically generated Torso area -->
                </div>
              </div>
            </div>

            <!--weapon-->
            <div id="weaponStats" class="col-3 col-sm-3 col-lg-3">
              <div class="card bg-dark-subtle shadow-lg border-light justify-content-center text-center" style="max-width:7rem; max-height: 7rem; min-width:7rem; min-height: 7rem;">
                <div id="weaponStatsCard" class="card bg-dark-subtle shadow-lg border-light justify-content-center align-center"style="max-width:7rem; max-height: 7rem; min-width:7rem; min-height: 7rem;" ondrop="dropHandler(event)" ondragover="dragoverHandler(event)">
                  <!-- Dynamically generated Weapon area -->    
                </div>
              </div>
            </div>

        <!-- gem -->
        <div id="gemStats" class="row justify-content-center">
          <div class="col-3 col-sm-3 col-lg-3">
            <div class="card bg-dark-subtle shadow-lg border-light justify-content-center text-center"style="max-width:7rem; max-height: 7rem; min-width:7rem; min-height: 7rem;">
              <div id="gemStatsCard" class="card bg-dark-subtle shadow-lg border-light justify-content-center align-center" style="max-width:7rem; max-height: 7rem; min-width:7rem; min-height: 7rem;" ondrop="dropHandler(event)" ondragover="dragoverHandler(event)">
                <!-- Dynamically generated Gem area -->
              </div>
            </div>
          </div>

          <!--boots -->
          <div id="bootStats" class="col-3 col-sm-3 col-lg-3">
            <div class="card bg-dark-subtle shadow-lg border-light justify-content-center text-center" style="max-width:7rem; max-height: 7rem; min-width:7rem; min-height: 7rem;">
              <!-- Dynamically generated Boots area -->
              <div id="bootStatsCard" class="card bg-dark-subtle shadow-lg border-light justify-content-center align-center" style="max-width:7rem; max-height: 7rem; min-width:7rem; min-height: 7rem;" ondrop="dropHandler(event)" ondragover="dragoverHandler(event)">
                <!-- Dynamically generated Boots area -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <button id="saveCharBtn" type="button" class="btn btn-primary mb-4">Save Character</button>
  </main>
  <script src="/js/populateItemInfo.js"></script>

</body>