<!--MAIN CONTAINER-->
<main class="container">

  <!--ABOUT CONTAINER CARD-->
  <div
    class="container justify-content-center text-center bg-secondary-subtle shadow-lg g-3 p-3 mt-5 mb-3 border-light border rounded-2"
    style="max-width: 75%">
    <div class="h2 text-warning-emphasis border-bottom border-light-subtle">
      About/Features
    </div>
    <p class="fs-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ultrices lobortis
      dapibus. Vivamus sed eleifend risus. Nulla id sapien nulla. Cras efficitur eleifend dui a ultricies. Sed quis
      convallis nibh.
      Vestibulum quis erattristique pharetra. Curabitur bibendum lectus eu ante laoreet pellentesque. Integer orci
      vehicula dignissim, placerat at libero. Sed ut elit sed justo accumsan </p>
  </div>

  <!--LOGIN WINDOW-->
  <div class="container">
    <div class="row gap-5 justify-content-center text-center align-center">
      <div class="col-3 card bg-secondary-subtle border border-light g-3 p-3">
        <h2 class="" text-warning-emphasis>Login</h2>
        <div class="card-body">
          <!--LOGIN FORM | username, password-->
          <form>
            <div class="form-outline mb-4">
              <input type="text" id="" placeholder="enter username.."
                class="form-control text-center border-primary-subtle" />
            </div>
            <div class="form-outline mb-4">
              <input type="password" id="" placeholder="type password.."
                class="form-control text-center border-warning-subtle" />
            </div>
            <!--LOGIN BUTTON-->
            <button id="loginBtn" class="btn btn-dark btn-lg btn-outline-success text-white mb-4" type="button"
              role="button" href="">Login</button>
            <!--NEED TO SIGNUP CLICK HERE-->
            <p>Need to Sign up?
              <a id="signUpClickHere" class="link-underline-secondary">Click here!</a>
            </p>
        </div>
      </div>


      <!--SIGN UP WINDOW-->
      <div class="col-3 card bg-secondary-subtle border border-light g-3 p-3">
        <h3>Signup Form</h3>
        <div class="card-body">
          <!--SIGN UP FORM | username, password, confirm password-->
          <form>
            <div class="form-outline mb-4">
              <input type="text" id="" placeholder="Enter new username.."
                class="form-control border-primary-subtle text-center" />
            </div>
            <div class="form-outline mb-4">
              <input type="password" id="" placeholder="Enter new password.."
                class="form-control border-warning-subtle text-center" />
            </div>
            <div class="form-outline mb-4">
              <input type="password" id="" placeholder="Confirm password.."
                class="form-control border-warning-subtle text-center" />
            </div>
            <!--SIGN UP BUTTON-->
            <button id="loginBtn" class="btn btn-dark btn-lg btn-outline-info text-white mb-4" type="button"
              role="button" href="">Signup</button>
            <p>Need to login?
              <a id="loginClickHere" class="link-underline-secondary">Click here!</a>
            </p>
          </form>
        </div>
      </div>
    </div>
  </div>
</main>